html,
button,
input,
optgroup,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #d8d8d8;
}

body {
  width: 475px;
  margin: 0 auto;
  background-color:white;
}

header {
  background-color: #444;
  text-align: center;
  position: relative;
  vertical-align: middle;
}

.bars {
  position: absolute;
  left: 0;
}

.sign-in {
  position: absolute;
  right: 0;

  /* https://www.smashingmagazine.com/2013/08/absolute-horizontal-vertical-centering-css/ */
  height: 1rem;
  margin: auto;
  top: 0;
  bottom: 0;
}

header a {
  padding: 10px 15px;
  display:block;
  color: #aaa;
  text-decoration: none;
  font-size: 14px;
}

.promo {
  background-color: #3c3c3c;
  color: #fff;
  text-align: center;
  padding: 25px;
  line-height: 20px;
}

.question {
  font-weight: bold;
  font-size: 18px;
}

.action {
  color: #999;
}

.promo a{
  color: #fff;
  text-decoration: none;
  padding: 10px;
  background-color: #8e8e8e;
  border-radius: 4px;
  font-size: 13px;
  display: inline-block;
  margin: 10px 0;
}
